@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Volunteer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Volunteer.styles.css" asp-append-version="true" />
    <!-- Custom Style-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
@*    <link rel="stylesheet" href="/css/styleSide.css">*@
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }</style>
</head>
<body>
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-main-outer">
                    <div class="rd-navbar-main">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand" href="/Home/Index.html"><img src="/images/LOGO.png" alt="" style="width: 100px" /></a></div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <partial name="_LoginPartial" />
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--SideBAR-->
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4">
                <h4 style="left:-12px;position: relative; color: white;">
                    <a href="index.html" class="logo">Кабінет користувача</a>
                </h4>
                @if (User.IsInRole("Volunteer"))
                {
                    <ul class="list-unstyled components mb-5">
                        <li class="active">
                            <a href="/Organization/Index"><span class="fa fa-home mr-3"></span> Організації</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-user mr-3"></span> About</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                        </li>
                    </ul>
                }
                else if (User.IsInRole("Soldier"))
                {
                    <ul class="list-unstyled components mb-5">
                        <li class="active">
                            <a href="#"><span class="fa fa-home mr-3"></span> Військові підрозділи</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-user mr-3"></span> About</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
                        </li>
                    </ul>
                }
            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5" style="width:100%;">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Custom script-->
    <script src="/js/core.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
