@{
    var controller = TempData["ControllerAdd"];
    var method = TempData["MethodAdd"];
    var alllistVolunteer = ViewBag.ListOfVolunteer;
    var currentVolunteer = ViewBag.CurrentVolonteer;
    var orgId = TempData["IdOrg"];
}


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <form method="post" asp-controller=@controller asp-action=@method>
                <div class="modal-body">

                    @foreach (var user in alllistVolunteer)
                    {
                        if (currentVolunteer.Contains(user))
                        {
                            continue;
                        }
                        else
                        {
                        <input hidden name="organizationId" id="organizationId" value="@orgId"></input>
                        <input type="checkbox" name="addlistUserId" id="addlistUserId" value="@user.Id" @*@(currentVolunteer.Contains(user) ? "checked=\" checked\""*@ : "" ) />
                        @user.FirstName @user.SecondName <br />
                        }
                        
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Скасувати</button>

                    <button id="comfirmAdd" type="submit" class="btn btn-danger" value="">Змінити</button>


                </div>
            </form>
        </div>
    </div>
</div>