@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@model MilitaryUnit

<h2>Редагування військового підрозділу</h2>
<hr>
<form method="post" asp-asp-controller="MilitaryUnit" asp-action="EditMilitaryUnit">
    <input hidden value=@Model.Id asp-for=@Model.Id>
    <label for="Name"></label>
    <input id="Name" class="form-control" asp-for="Name">
    <label for="Desc"></label>
    <textarea id="Desc" class="form-control" asp-for="Description"></textarea>
    <a type="button" class="btn btn-sm btn-warning" asp-controller="MilitaryUnit" asp-action="ViewAllInformationCompositionMilitaryUnut" asp-route-id="@Model.Id">Склад військового підрозділу</a>
    <button type="submit" class="btn btn-success">Зберегти</button>
</form>

