@{
    ViewData["Title"] = "Home Page";
}

<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="4859" data-simulate-touch="true" data-direction="vertical" data-nav="false">
    <div class="swiper-wrapper text-center">
        <div class="swiper-slide" data-slide-bg="images/Slider1.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container" style="padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(3px);border-radius: 20px;">
                    <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" style="color:white;">STOP WAR IN UKRANE</h1>
                    <h2 class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100" style="color:white;">Слава Україні - Героям Слава</h2><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Приєднатись</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/Slider2.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container" style="padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.5);backdrop-filter: blur(3px);border-radius: 20px;">
                    <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" style="color:white;">UKRAINIAN FORCES</h1>
                    <h3 class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100" style="color:white;">Допомогай армії - не будь осторонь</h3><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Приєднатись</a>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/Slider3.png">
            <div class="swiper-slide-caption section-md">
                <div class="container" style="padding-bottom: 10px;background-color: rgba(0, 0, 0, 0.5);backdrop-filter: blur(3px);border-radius: 20px;">
                    <h1 data-caption-animate="fadeInLeft" data-caption-delay="0" style="color:white;">VOLUNTEERS AND THE ARMY TOGETHER</h1>
                    <h3 class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100" style="color:white;">Кожен українець - Герой! Кожна дія важлива! Разом до перемоги!</h3><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Приєднатись</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination__module">
        <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
        <div class="swiper-pagination__divider"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>
